<div class="container" style="padding-top:40px;">  
    <div class="row">  
      <div class="col-md-6 mx-auto">  
        <div class="card mx-4">  
          <div class="card-body p-4">  
            <form [formGroup]="formuser">  
              <h1 style="text-align:center">Editar Usuario</h1>  

              <div class="input-group mb-3">  
                <input type="text" class="form-control" placeholder="Nombre"  formControlName="username">  
              </div>  
              <div class="input-group mb-3">  
                <input type="password" class="form-control" placeholder="Contraseña"  formControlName="password">  
              </div>  
               <div class="input-group mb-3">
                <select class="form-control" formControlName="rol">
                        <option value="1">Administrador</option>
                        <option value="2">Cliente</option>
                </select>
                
               </div>
            
              <button type="submit" [disabled]="!formuser.valid" (click)="editUser()" class="btn btn-block btn-success">Guardar</button>  
            </form>  
          </div>  
        </div>  
      </div>  
    </div>  
  </div>  

