
  <div class="container mt-5">
    <div class="row mt-4">
    <div class="col-3" *ngFor="let product of productList">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">{{ product.product_Name}}</h5>    
              <br>
              <p class="card-text">{{ product.price | currency:'RD$' }}</p>
              <button type="button" class="btn btn-sm btn-primary product-btn" (click)="AddToCart(product)">Agregar al carrito</button>           
            </div>
          </div>
          <br>
    </div>
    </div>
    </div>